<h2>Cool Cocktails Title</h2>
<p><%= link_to 'New Cocktail', new_cocktail_path %></p>
<h1>All our cocktails (<%= @cocktails.count %>)</h1>
<ul>
<%= cl_image_tag("ztq6ozyf4rvkg42jijgu",
      width: 400, height: 300, crop: :fill) %>
<% @cocktails.each do |cocktail| %>
  <li class="card">
    <h2><%= link_to cocktail.name, cocktail %></h2>
  </li>
<% end %>
</ul>